<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Geocode</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">


  <h2>Geocode</h2>
  <form  action="/geocode" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="search_center">search_center: search_center is used for a proximity based match to the address. (e.g. 33.559768,-117.728416) </label>
      <input type="text" class="form-control" id="search_center" name="search_center" placeholder="33.559768,-117.728416">
      <br>
      <label for="query">query: Street address of the location to return the lat/long for. (e.g. 860 Hillview Ct, Milpitas, CA, 95035)</label>
      <input type="text" class="form-control" id="query" name="query" placeholder="860 Hillview Ct, Milpitas, CA, 95035">
      <br>
      <label for="api_key">api_key: Your API Key</label>
      <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Please obtain an API key">
      <br>

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <br>
  {{ result }}
</div>
<br>
</div>
</div>
</body>
</html>
